.card_logement{
    width: 340px;
    height: 340px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
} 
.card_img{
    width: inherit;
    height: inherit;
    object-fit: cover;

}
.card_logement_title{
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: 500;
    margin:20px;
    color:#FFFFFF;
}
@media screen and (max-width : 767px) {
    .card_logement{
        width: 335px;
        height: 255px;
    } 
 
    .card_logement_title{
        margin:20px 15px;
    }
}