.banner{

    width: 100%;
    height: 250px;
    position: relative;
}
.bannerDesktop{
    display: block;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;
}
.bannerMobile{
    display: none;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner > p{
    position: absolute;
    top:20%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    font-family: 'Montserrat';
    font-style: normal;    
}

@media screen and (max-width : 767px) {
    .bannerDesktop{
        display: none;
    }
    .bannerMobile{
        display: block;
    }


}
		